body {
  margin: 0px;
  padding: 0px;
  background-color: #000;
  overflow-x: hidden;
}

.container {
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.myContainer {
  width: 100% !important;
}

.heading-xlarge.xxl {
  color: rgba(252, 10, 84, 0.8);
  font-size: 5vw;
  line-height: 0.98;
  text-align: center;
}

marquee.marquee {
  padding: 12px;
  background-color: #121218;
  color: #fff;
  margin-top: 25px;
}
._image {
  width: 1rem;
}

/* color color:rgb(120, 120, 131) */

.lightColor {
  color: rgb(120, 120, 131);
}

/* green text color: rgb(22, 206, 185) */

.greenText {
  color: rgb(22, 206, 185);
}

.textPick {
  color: rgb(252, 10, 84);
}
.marquee-coin {
  display: flex;
  margin: 0px 15px;
}

.abcd {
  display: flex;
  float: right;
}
.text-color-gradient-blue {
  background-image: linear-gradient(129deg, #304352, #d7d2cc);
  color: #5b6eff;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.marquee-track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 50s linear infinite reverse;
}

.marquee-track:hover {
  -moz-animation-play-state: paused;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

@keyframes marquee {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0%);
  }
}
